* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("/assets/images/rainy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 30px;
  margin: 50px 20px;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
  width: 90%;
}
.container .row {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
}
.container h1 {
  margin-bottom: 5px;
}
.currentWeather {
  width: 40%;
  padding: 15px;
  margin-right: 30px;
}
.search-section {
  position: relative;
  width: 100%;
}
.search-section input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: #fff;

  padding: 10px;
  border-radius: 16px;
  width: 100%;
}
#unitToggle,
#darkModeToggle {
  padding: 6px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}
#getWeatherBtn {
  position: absolute;
  right: 10px;
  top: 6.3px;
  background: transparent;
  border: none;
  cursor: pointer;
}
#getWeatherBtn i {
  font-size: 1.5rem;
  font-weight: bold;
  color: #444;
  background: transparent;
}
#unitToggle:hover,
#darkModeToggle:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}
.weather-info {
  margin-top: 10px;
}
.weather-info img {
  width: 60px;
  padding: 2.5px;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
}
#cityName {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 10px;
}
#temperature {
  font-size: 1.2rem;
  margin-bottom: 6px;
}

/* Loading  */
#loading {
  font-size: 20px;
  color: #007bff;
  display: none;
}

/* Dark mode */
body.dark-mode {
  background-color: rgba(255, 255, 255, 0.2);

  color: #fff;
}
body.dark-mode .container {
  color: white;
  backdrop-filter: blur(5px);
  webkit-backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.5);
}

/* 5 days forecast */

#forecast h2 {
  font-size: 1.5 rem;
  margin-bottom: 10px;
}

#forecastContainer {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  width: 100%;
}
.forecast-item {
  border-radius: 8px;
  padding: 8px;
  text-align: center;
  width: 20%;
  overflow: hidden;
}
.forecast-item:hover {
  background-color: #e0e0e0;
  transform: scale(1.05);
  transition: 0.3s;
}
.forecast-item img {
  width: 50px;
  border-radius: 50%;
  padding: 2.5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.forecast-item h3 {
  font-size: 1rem;
  margin-bottom: 5px;
}
.forecast-item p {
  margin: 5px;
}

/* Responsive */
@media (max-width: 768px) {
  .container {
    width: 95%;
  }

  .container .row {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .currentWeather {
    width: 100%;
  }
  #forecastContainer {
    gap: 2.5px;
    width: 100%;
  }
  #forecast {
    width: 100%;
  }
  .forecast-item {
    width: 100%;
    height: 180px;
  }
  .forecast-item img {
    width: 25px;
  }
  .forecast-item h3 {
    font-size: 0.7rem;
    margin-bottom: 2px;
  }
  .forecast-item p {
    margin: 1px;
    font-size: 0.7rem;
  }
}
